In [2]:
def get_pay(num_hours):
    # Pre-tax pay, based on receiving $15/hour
    pay_pretax = num_hours * 30
    # After-tax pay, based on being in 12% tax bracket
    pay_aftertax = pay_pretax * (1 - .12)
    return pay_aftertax

In [8]:
full_payment = get_pay(180)
print(full_payment)

4752.0

In [9]:
def get_expected_cost(beds, baths):
    value = 80000 + (beds*30000) + (baths*10000)
    return value

In [11]:
house = get_expected_cost(2,3)
print(house)

170000

In [12]:
option_one = get_expected_cost(2,3)
option_two = get_expected_cost(3,2)
option_three = get_expected_cost(3,3)
option_four = get_expected_cost(3,4)

print(option_one)
print(option_two)
print(option_three)
print(option_four)

170000
190000
200000
210000

In [20]:
def get_cost(sqft_walls, sqft_ceiling, sqft_per_gallon, cost_per_gallon):
    cost = sqft_walls*sqft_ceiling*sqft_per_gallon*cost_per_gallon*1.0
    return cost

In [22]:
total_cost = get_cost(432,144,1.08,15)
print(total_cost)

1007769.6

In [55]:
def get_grade(score):
       
    if score in (90,100):
        print("A")
    elif score in (80,89):
        print("B")
    elif score in (70,79):
        print("C")
    elif score in (60,69):
        print("D")
    elif score in (40,59):
        print("E")
    else :
        print("F")

In [56]:
marks = get_grade(35)

F

In [92]:
def cost_of_project(engraving,solid_gold):
    if solid_gold==True :
        cost = (10*engraving) + 100
    else:
        cost = (7*engraving) + 50
    return cost

In [98]:
price = cost_of_project(6,1)
print(price)

160

In [146]:
def get_phone_bill(gb):
    if gb < 15.0:
        print("amount:","100")
    elif gb > 15.0:
        amount = ((gb-15.0)*100)+100
        print(round(amount))

In [147]:
bill =(get_phone_bill(15.2))

120

In [13]:
import pandas as pd

In [28]:
fruits = pd.DataFrame({"Apples" : [30], "Bananas" : [21]})
fruits

   Apples  Bananas
0      30       21

In [24]:
fruits_sales = pd.DataFrame({"Apples" : [35,41],"Bananas" : [21,34]}, index = ['2017 Sales','2018 Sales'])

In [27]:
fruits_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [38]:
ingredients = pd.Series(['4 cups' ,'1 cup' ,'2 large' ,'1 can'], index = ["Flour","Milk","Egg","Spam"],name ="Dinner")

In [39]:
ingredients

Flour     4 cups
Milk       1 cup
Egg      2 large
Spam       1 can
Name: Dinner, dtype: object

In [40]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19